{
  "trailingComma": "none",
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.{cls,apexc,trigger}",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 4,
        "apexInsertFinalNewline": true
      }
    },
    {
      "files": "*.apex",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 4,
        "apexInsertFinalNewline": true,
        "parser": "apex-anonymous"
      }
    },
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "printWidth": 120,
        "parser": "lwc",
        "bracketSameLine": true
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "printWidth": 120,
        "parser": "html",
        "bracketSameLine": true
      }
    },
    {
      "files": "*-meta.xml",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSameLine": true,
        "xmlSelfClosingSpace": false,
        "embeddedLanguageFormatting": "off",
        "xmlWhitespaceSensitivity": "preserve",
        "xmlSortAttributesByKey": true
      }
    }
  ]
}
